# cdcloud.io GOLANG .gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/bin/

# Test binary, built with `go test -c`
*.test
*.log

# Output of the go coverage tool
*.out

# Dependency directories
/vendor/

# Go workspace file
go.work
go.work.sum

# Custom exclusions
/localdev
/secret*
/secrets*
*secret*
.env

### additional files from OS's and IDE's ###
# OS's
*~
.DS_Store
.profile
.fuse_hidden*
.fuse**
.directory
.Trash-*
.nfs*
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.icloud
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

# IDE's
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
.ionide
